/* You can add global styles to this file, and also import other style files */
#themecolors a {
    cursor: pointer;
}

li {
    a {
        cursor: pointer;
    }
}

img.img-md {
    max-width: 150px;
    max-height: 150px;
}